# INO RUN 2026 — .gitignore raiz
node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Temp
.tmp/
